<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erreur de connection</title>
        <link rel="stylesheet" href="../public/stylesheets/styleError.css">
    </head>
    <body>
        <h1>Erreur de connection</h1>
        <br>
        Essayez de vous reconnecter ou jsp...
    </body>
</html>