<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ropartz.net</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script defer src="../public/javascripts/main.js"></script>
</head>
<body>
    <div class="header">
        <div id="image d'accueil">
            <img src="../public/images/shrek.jpeg" alt="echec">
        </div>
        <div id="menus">
            <div class="menu">à propos</div>
            <div class="menu">play more</div>
            <div class="menu">faire un don</div>
        </div>
        <div id="titre">
            <h1>Ropartz</h1>
        </div>
    </div>
    <div class="body">
        <h2>Hello</h2>
    </div>
</body>
</html>
