<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ropartz.net</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="header">
        <img src="../public/images/shrek.jpeg" alt="echec" id="MainImage">
        <div id="titremenu">
            <div id="menus">
                <div class="menu">à propos</div>
                <div class="menu">play more</div>
                <div class="menu">faire un don</div>
            </div>
            <div id="titre">
                <h1>Gaufre</h1>
            </div>
        </div>
    </div>
    <div class="body">
        <span>En attendant le développement du site web ropartz.net, voici un clicker nul qui ne vous occupera certainement pas.</span>
        <button id="lol"><span>lol clique sur moi<span></button>
        <span>Score : <span id="score">0 </span></span>
        <h2 id="message">Arrête de cliquer ça sert à rien !!!</h2>
    </div>
    <script defer src="../public/javascripts/main.js"></script>
</body>
</html>
