.header {
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menus {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen;
}

.menu {
    background-color: green;
}

#titre {
    margin-right: 0px;
    background-color: green;
}
